@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10;
}

.image-detail {
  -webkit-text-stroke-width: 1px;
}

.image-detail:hover{
  cursor: pointer;
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(85, 0, 255);
}

.icon {
  font-size: 1.2em;
  margin-right: 0.5em;
  color: #18d26e; /* Adjust color as needed */
  text-shadow: rgb(255, 255, 255) 1px 0 5px; /* Add text shadow for stylish effect */
  font-weight: 900;
}
